<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AdvertisementDatabaseConn" 
			 connectionString="Data Source=BOOK-KLKI388UK0\SQLEXPRESS;Initial Catalog=AdvertisementDatabase;
			 Integrated Security=SSPI;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>

